<ion-header>
  <ion-navbar>

    <ion-title>{{pageTitle}}</ion-title>

    <ion-buttons end>
      <button *ngIf="!isEditable()" ion-button (click)="switchMode(viewMode.edit)">تعديل</button>

      <div *ngIf="isEditable()">
        <button ion-button [disabled]="!modelForm.valid" (click)="saveView()">حفظ</button>
        <button ion-button (click)="cancel()">الغاء</button>
      </div>

    </ion-buttons>

  </ion-navbar>
</ion-header>




<ion-content padding>


  <form [formGroup]="modelForm" novalidate>

    <ion-label stacked>تاريخ الحضور</ion-label>
    <ion-datetime formControlName="date"  [disabled]="!isEditable()" style="position: relative" displayFormat="YYYY-M-D" pickerFormat="YYYY-M-D"  ></ion-datetime>

    <button float-left ion-button="" *ngIf="isEditable()" (click)="showPupilsModal()">اختيار الطلاب</button>

    <!--<ion-card>-->
      <!--<ion-card-header>-->
        <!--<ion-card-title>الطلاب-->
          <!--<button float-left ion-button="" *ngIf="isEditable()" (click)="showPupilsModal()">اختيار الحضور</button>-->

        <!--</ion-card-title>-->
      <!--</ion-card-header>-->

      <!--<ion-card-content>-->

        <!--<div formArrayName="pupilsAttendances">-->
          <!--<div *ngFor="let pupilAttendance of model.pupilsAttendances;let i = index" >-->
            <!--<course-attendance-pupil-item [formArray]="modelForm.controls.pupilsAttendances" [isEditable]="true"-->
                            <!--[model]="pupilAttendance"></course-attendance-pupil-item>-->
            <!--<hr>-->

          <!--</div>-->
        <!--</div>-->

      <!--</ion-card-content>-->
    <!--</ion-card>-->
    <div formArrayName="pupilsAttendances">

      <!--<div *ngFor="let pupilAttendance of model.pupilsAttendances; let i = index" [formGroupName]="i">-->

        <!--<ion-row>-->
          <!--<ion-col  formGroupName="pupil">-->
            <!--<ion-label stacked >الأسم</ion-label>-->
            <!--<ion-input readonly formControlName="fullName" ></ion-input>-->
          <!--</ion-col>-->
          <!--<ion-col  >-->
            <!--<ion-label stacked >هل حضر ؟</ion-label>-->
            <!--<ion-select [disabled]="!isEditable()" style="position: relative" formControlName="attended">-->
              <!--<ion-option *ngFor="let key of attendanceStatusKeys" [value]="key" >{{attendanceStatus[key]}}</ion-option>-->
            <!--</ion-select>-->
          <!--</ion-col>-->
        <!--</ion-row>-->
        <!--<hr>-->
      <!--</div>-->


      <div *ngFor="let pupilAttendance of model.pupilsAttendances;let i = index" >
      <course-attendance-pupil-item [formArray]="modelForm.controls.pupilsAttendances" [isEditable]="true"
      [model]="pupilAttendance"></course-attendance-pupil-item>
      <hr>

      </div>


    </div>


  </form>
  {{modelForm.value | json}}

</ion-content>
