
<!-- this menu section should hold what content and destine to where
// at what point in time?
// That is determined by the last line in this -->
<ion-menu [content]="content">
  <ion-header>
  <ion-toolbar>
    <ion-title>القائمة الجانبية</ion-title>
    {{isLoggedIn}}

  </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="!isLoggedIn; else authenticated">
    <ion-list>
      <button ion-item (click)="openPage('LoginPage')">تسجيل الدخول</button>
    </ion-list>
  </ion-content>
  <ng-template #authenticated>
  <ion-content>
    <ion-list>
      <!--<button ion-item>الاحصائيات</button>-->
      <div *ngFor="let p of pages">
        <button  *ngIf="canView(p.component)" ion-item  (click)="openPage(p.component)">
          {{p.title}}
        </button>
      </div>
      <button item-center ion-item (click)="auth.logout()">تسجيل الخروج</button>
    </ion-list>
  </ion-content>
  </ng-template>
</ion-menu>
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>

<!--<ion-nav  #content [root]="rootPage"></ion-nav>-->
